<section class="users-new"></section>

<h1>Welcome to the Jungle</h1>
<div class="jumbotron">
    <h2>Are you back for another Jungle adventure?</h2>
    <h3>Login below</h3>
    
<%= form_tag :sessions, url:'/sessions' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
</div>

<div class="jumbotron">
<h2>Are you new to the Jungle?</h2>
<h3>Sign up by filling teh below information</h3>
  <%= form_for :user, url: '/users' do |f| %>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= f.text_field :first_name,placeholder: "Enter Your First Name", class: "form-control" %>
        <%= f.text_field :last_name, placeholder: "Enter Your Last Name", class: "form-control" %>
      </span>
    </div>
    <div class="input-group">
       <span class="input-group-addon" id="basic-addon1">
        <%= f.text_field :email, placeholder: "Enter Your Email", class: "form-control"  %>
      </span>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= f.password_field :password, placeholder: "Enter A Password", class: "form-control"  %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Your Password", class: "form-control"  %>
      </span>
    </div>
    <%= f.submit "Submit" %>

  <% end %>
  </div>
</div>
</section>